    <footer class="footer footer-black  footer-white d-sm-none d-md-block">
      <div class="container-fluid">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="/" target="_blank">Zone Manager</a>
              </li>
              <li>
                <a href="http://nighthack.in/" target="_blank">Powered by <strong class="text-uppercase">Nighthack Labs</strong></a>
              </li>
            </ul>
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
             ©2019 SunilNaik, MLA, Bhatkal
            </span>
          </div>
        </div>
      </div>
    </footer>