<!-- Holder for Capabilities -->
<div class="bjp-bg">
  <div class="container-fluid text-center" style="min-height: 300px; padding:4%;">
    <div class="card border-warning card-trans mt-2">
      <div class="col-md-12 col-sm-12">
        <div class="card-body">
          <h5 class="card-title">ನಾಗರಿಕರ ನೋಂದಣಿ</h5>
          <h6 class="card-subtitle mb-2">Register to Have Full Access Online</h6>
        </div>
        <div class="card-footer"><%= link_to "Register Now", "", class: "btn btn-outline-warning" %></div>
      </div>
    </div>
    <div class="row card-deck">
      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card card-trans border-warning">
          <div class="card-body"><%= link_to development_works_path, class: "btn btn-outline-dark float-right" do %><%= icon("fas","external-link-alt") %><% end %>
            <h5 class="card-title">ದೂರು/ಬೇಡಿಕೆ/ಸಲಹೆ</h5>
            <h6 class="card-subtitle mb-2">Never Hesitate to Complian/Suggest</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card card-trans border-warning">
          <div class="card-body">
            <h5 class="card-title">ಶಾಸಕರ ಕಾರ್ಯಕ್ರಮ ಸಮಯ ನಿಗದಿ</h5>
            <h6 class="card-subtitle mb-2">Book Appointement Online</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card card-trans border-warning">
          <div class="card-body">
            <h5 class="card-title">ಶಾಸಕರ ಕಾರ್ಯಕ್ರಮ/ದಿನಚರಿ</h5>
            <h6 class="card-subtitle mb-2">MLA Program and Events</h6>
          </div>
        </div>
      </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card card-trans border-warning">
          <div class="card-body">
            <h5 class="card-title">ಅಭಿವೃಧ್ಧಿ ಕಾಮಗಾರಿ</h5>
            <h6 class="card-subtitle mb-2">Know Your Area Work Status</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card card-trans border-warning">
          <div class="card-body">
            <h5 class="card-title">ಯೋಜನೆಗಳ ಫಲಾನುಭವಿ ಅರ್ಜಿ ಸ್ಥಿತಿ</h5>
            <h6 class="card-subtitle mb-2">Know Your Application Status</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card card-trans border-warning">
          <div class="card-body">
            <h5 class="card-title">ಉಪಯುಕ್ತ ಮಾಹಿತಿಗಳ ಕೊಂಡಿ</h5>
            <h6 class="card-subtitle mb-2">Useful Information Links</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-warning card-trans mt-2">
      <div class="col-md-12 col-sm-12">
        <div class="card-body">
          <h5 class="card-title">ಅಪ್ಲಿಕೇಶನ್ ಡೌನ್ಲೋಡ್ ಮಾಡಿ</h5>
          <h6 class="card-subtitle mb-2">Download the App today</h6>
          <a href='https://play.google.com/store/apps/details?id=com.sunilnaik&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/ style="max-height: 80px;"></a>
        </div>
      </div>
    </div>
  </div>
</div>
