<% @module_name = "ಕ್ಷೇತ್ರ ನಿರ್ವಹಣೆ > ಹೊಸ ಜಿಲ್ಲೆ" %>
  <div class="content">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= render 'form', district: @district %>
          <%= link_to 'ಹಿಂದೆ', districts_path %>
        </div>
      </div>
    </div>
  </div>