<% @module_name = "ಅಭಿವೃಧ್ಧಿ ಕಾಮಗಾರಿ > ಎಡಿಟಿಂಗ್" %>
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= render 'form', development_work: @development_work %>
          <%= link_to 'ಹೆಚ್ಚಿನ ವಿವರ', @development_work %> |
          <%= link_to 'ಹಿಂದೆ', development_works_path %>
        </div>
      </div>
    </div>
  </div>
</div>
