<% @module_name = "ಫಲಾನುಭವಿಗಳು > ಎಡಿಟಿಂಗ್" %>
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <%= link_to 'ಹೆಚ್ಚಿನ ವಿವರ', @beneficiary_scheme %> |
          <%= link_to 'ಹಿಂದೆ', beneficiary_schemes_path %>
          <hr />
        </div>
        <div class="card-body">
          <%= render 'form', beneficiary_scheme: @beneficiary_scheme %>
        </div>
      </div>
    </div>
  </div>
</div>
