<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= render 'form', beneficiary_scheme: @beneficiary_scheme %>
        </div>
        <div class="card-footer">
          <%= link_to 'ಹಿಂದೆ', beneficiary_schemes_path %>
        </div>
      </div>
    </div>
  </div>
</div>
